<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>About</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/login.css}"> 
</head>
<body class = "body" >
<div class = "container">
<div class = "nav">
<div class="text-light">
		<nav class="navbar navbar-expand-lg fixed-top">  <!-- Brand -->
  <a class="navbar-brand text-light" href="#" ><b>Mysuru City Corporation</b></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-collapse container">
  <div class ="row col-md-8">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/}"><b>Home</b></a>
      </li>
      <li class="navbar-nav">
      	<a class = "nav-link text-light" th:href = "@{/about}"><b>About</b></a>
      </li>
    </ul>
    </div>
  </div>
  <div class="text-right">
  <div class ="row col-md-4">
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light" th:href="@{/help}"><b>Help</b></a>
      </li>
    </ul>
    </div>
  </div>
  </div>
</nav>
</div>
<br>
<br>
<br>
<br>
<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h5 class="text-light">The Muncipal Corporation of Mysuru,</h5>
							<h4 class="font-weight-medium text-light">Mysore City Corporation,will make sure to solve the posted issues as early as possible.</h4>
							<h6 class = "mb-3 text-light"></h6>
					<p class= "text-light">Mysore City Corporation (MCC) is the administrative body responsible for civic amenities and infrastructural assets of Mysore city (officially Mysuru) in Karnataka, India.It is the third-largest municipal corporation in Karnataka, serving a population of 1,000,000 in an area of 235 km2 (58,000 acres).The city's boundaries have expanded more than twice between 2010 and 2020.</p>
					<br>
					<p class = "text-light">MCC is the third level of government below the national and state governments. MCC is run by the city council, which consists of elected representatives called "corporators", one from each of the wards of the city. Elections to the council are held every five years, results being decided by popular vote. Candidates for election to the council represent one or more of the state's political parties. A mayor is elected for a one-year term. Corporators hold their office for five years.</p>
					</div>
						</div>
						
						<h3 class= "text-light font-weight-large">About this application:</h3>
						<p class="text-light"><h6 class="text-light">This application can be used to post the issues in your locality.The major aim of this application is to help the general public of mysuru district, to solve the issues in their locality.</h6></p>
						<p class="text-light">People can post the issues that they are facing in their locality.This reduces the process of personally contacting the area corporator or other officials.</p>
						<p class = "text-light">
						<ul class= "text-light">
						<li>Urban planning including town planning.</li>
<li>Regulation of land-use and construction of buildings.</li>
<li>Planning for economic and social development.</li>
<li>Water supply for domestic, industrial and commercial purposes.</li>
<li>Public health, sanitation conservancy, and solid waste management.</li>
<li>Fire services.</li>
<li>Urban forestry, protection of the environment and promotion of ecological aspects.</li>
<li>Safeguarding the interests of weaker sections of society, including the handicapped and mentally retarded.</li>
<li>Slum improvement and up-gradation.</li>
<li>Urban poverty alleviation.</li>
</ul>
</div>
</div>
						</p>
<br>
	<br>	
	<br>
<footer class="footer fot">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<address>
								<p class="text-light font-weight-medium">Mysuru City Corporation,</p>
								<p class="mb-4 text-light font-weight-medium">New Sayyaji Rao Road, Mysuru 570024.</p>
								<div class="d-flex align-items-center">
									<a href="" class="footer-link text-light font-weight-medium"> comm_mcc@yahoo.in</a>
								</div>
							</address>
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom bg-primary">
				<div class="container">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<p class="mb-0 text-light font-weight-medium  pt-1">©2023 <a href="https://www.bootstrapdash.com" class="text-white" target="_blank">Tejaswini vb</a>. All rights reserved.</p>
						</div>
						<div>
							<div class="d-flex">
								<a href="#" class="text-light font-weight-medium text-white mx-2 footer-link">Mysore City Corporation </a>          
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="vendors/base/vendor.bundle.base.js"></script>
		<script src="vendors/owl.carousel/js/owl.carousel.js"></script>
		<script src="vendors/aos/js/aos.js"></script>
		<script src="vendors/jquery-flipster/js/jquery.flipster.min.js"></script>
		<script src="js/template.js"></script>
		</div>
</body>
</body>
</html>